# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Datasets and heavy data
*.tar.gz
*.zip
dataset/
dataset ytf/
cache/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
